<html>
<body>
<h1>About</h1>

<h4>Share your ideas with the world and find others.</h4>

<p>
Put on you thoughts and inspire me.

<p>
  Its me Roshan Adhikari. I am currently studying BS.Computer Science and IT.
</p>

<p>
Hey Everyone I learned to build this from TECHRISE on very few time. Hope you
will also join us.
</p>
</body>
</html>
