  
    <div id = "wrap">
      <%= render 'shared/nav' %>

      <div class = "container">
        <%= yield %>
      </div>

    </div><!-- wrap -->

    <div class="footer text-center">
      <p>© TECHRISE <%= Date.today.year %> All Rights Reserved</p>
    </div>
